
.gallery {
  margin: 10px;
  list-style-type: none;
  padding: 0;
  font-size: 0;
}

.gallery li {
  font-size: 13px;
  display: inline-block;
  position: relative;
  width: 25%;
  padding-bottom: 25%;
}

.gallery a {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.gallery a img {
  width: 100%;
}

.gallery a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease-out;
}

html.no-touch .gallery a:hover span,
html.touch .gallery a.touchFocus span {
  margin-bottom: 0;
}

@media only screen and (max-width: 740px) {
  /* Small desktop / ipad view: 3 tiles */
  .gallery li {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media only screen and (max-width: 540px) {
  /* Tablet view: 2 tiles */
  .gallery li {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media only screen and (max-width: 320px) {
  /* Smartphone view: 1 tile */
  .gallery li {
    width: 100%;
    padding-bottom: 100%;
  }
}