#bbody {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;

}

#fundo {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.4;
  z-index: -3;

}



#cxaudio {
  /* width: 100%;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* overflow: hidden; */
  position: relative;
}


.audio-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*   text-align: center; */
  padding: 4px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
    transition: background-color 0.3s, color 0.3s;
  background: #333;
  color: #888;
}

.album-image {
  width: 100%;
  border-radius: 10px;
}

.audio-player {
  width: 100%;
  margin-bottom: 20px;
  display: none;
}

.controls {
  display: flex;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 80%;
  height: auto;
  height: auto;
  margin: 0 auto;
  padding: 2px 10px;
}



.btnbloco {
  display: block;
  width: 50px;
  height: 50px;
  background: #00f;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 10;
}

.play-pause-btn {
  background-color: #2ecc71;
  color: #fff;
  animation: pulse 1.5s infinite;
}

.playing .play-pause-btn {
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.cx-album-lista {
  position: absolute;
  right: 0;
  top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
  justify-content: space-between;
}

.stop-btn {
  background-color: #e74c3c;
  color: #fff;
}

.prev-btn,
.next-btn {
  background-color: #f39c12;
  color: #fff;
}

.volume-slider {
  width: 100px !important;
  min-width: 50px !important;
  margin-top: 10px;
  left: 0px;
}

.volume-slider>*:first-child {
  align-self: stretch;
}

.progress-bar {
  width: 100%;
  margin-top: 10px;
}

.tempo {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}


.player-p {
  width: 30px;
  height: 30px;
  background-color: #151515;
  position: absolute;
  bottom: 40px;
  right: 30px;
  display: none;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.player-p span {
  margin: 0 auto;
}


.pequeno {
  cursor: pointer;

}

.normal {
  cursor: pointer;
}

span.normal {
  margin: 0 auto;
  color: #999;
}

.pequeno, .normal {
  padding: 1px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 0px;
  /* background: #151515; */

}


.cxalbum-img {
  width: 100%;
  max-width: 170px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  position: relative;
  margin: 0 auto;
  top: -50px;
  margin-bottom: -60px;
}

.album-song-info {
  width: 100%;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

.album-name {
  width: 100%;
  padding: 0 0 0 4px;
  background: linear-gradient(to left, #02020200, #000000);
  border-radius: 4px;
  color: #6393a3;
  margin: 4px 0;
}

.artist-name {
  width: 100%;
  padding: 0 0 0 4px;
  /* color: #141516; */
  background: linear-gradient(to left, #02020200, #000000);
  border-radius: 4px;
  color: #978f23;
  margin: 4px 0;
}

.song-name {
  width: 80%;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
  overflow: hidden;
  display: inline-block;
  animation: txtscroll 10s infinite linear;
  margin: 0;
  overflow: hidden;
}


@keyframes txtscroll {
  0% {
    color: #0f0;
    margin-left: 70%;
  }

  25% {
    color: #0ff;
  }

  50% {
    color: #777;
  }

  75% {
    color: #ff0;
  }

  100% {
    color: #0f0;
    margin-left: 6px;
  }
}


.cxtempovolume {
  width: 100%;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;

}



.song-info-select,
.album-info-select {
  display: none;
  margin: 0 auto;
  position: absolute;
  border: 0;
  overflow: hidden;
  border-radius: 10px;
  z-index: 2;
  /*   background: rgb(25 42 54 / 50%); */
  background: #333;
  --x: 98%;
  --y: 98%;
  clip-path: circle(200% at var(--x) var(--y));
  animation: mostraDiv 1s ease-in-out 1;
}

.album-info-select {
  width: 50%;
  min-width: 140px; 
  height: auto;
  flex-wrap: wrap;
  overflow-y: auto;
  margin: 0 auto;
  position: absolute;
  right: 4px;
  bottom: 4px;
  padding: 10px;
}

.album-info-select ul {
  display: flex;
  border: 0;
  width: 100%;
  list-style: none;
  height: auto;
  /* aspect-ratio: 100/50; */
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.album-info-select li {
  height: auto;
  border: 0;
  margin: 4px;
  margin-top: 0;
  display: flex;
  list-style: none;
  min-width: 10%;

}

.album-info-select img {
  height: auto;
  border: 0;
  margin: 4px;
  width: 100px;
  height: 100px
    /*   opacity: 0.6; */
}

.album-info-select img:hover {
  box-shadow: 0 0 10px rgba(52, 152, 153, 0.5);
  transform: scale(1.09);
  cursor: pointer;
  border-radius: 5px;
  opacity: 1;
}

.song-info-select {
  min-width: 10%;
  min-width: 140px;
  height: 30%;
  /*   display: flex; */
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-y: auto;
  position: absolute;
  right: 4px;
  bottom: 4px;
  padding: 10px;
}

.song-info-select ul {
  /*   margin-top: 30px; */
  width: 100%;

}

.song-info-select li {
  min-width: 30%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 4px 0px;
  margin-top: 6px;
  justify-content: center;
  white-space: nowrap;
  /*   color: rgb(20 140 200); */
  color: #777;
}

.song-info-select li:hover {
  box-shadow: 0 0 10px rgb(11 110 163 / 50%);
  transform: scale(1.09);
  cursor: pointer;
  border-radius: 5px;
  background: rgb(25 42 54 / 50%);
  color: #fff;
}


/* ====================== scroll bar album */

.album-info-select::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: var(--cor02);
  border-radius: 5px;
}

.album-info-select::-webkit-scrollbar {
  width: 4px;
  background-color: var(--cor02);
  border-radius: 5px;
}

.album-info-select::-webkit-scrollbar-thumb {
  background-color: var(--cor02);
  border: 1px solid #011;
  border-radius: 5px;
}


/* ====================== scroll bar musica */

.song-info-select::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: var(--cor02);
  border-radius: 5px;
}

.song-info-select::-webkit-scrollbar {
  width: 4px;
  background-color: var(--cor02);
  border-radius: 5px;
}

.song-info-select::-webkit-scrollbar-thumb {
  background-color: var(--cor02);
  border: 1px solid #011;
  border-radius: 5px;
}


/* Exemplo de estilo para o ícone "color_lens" */
.material-icons {
  font-size: 24px;
  margin-right: 5px;
}


input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
  height: 4px;
  margin-top: 10px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;

}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: var(--cor01);
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: var(--cor01);
  border-radius: 50%;
  border: 2px solid var(--cor03);
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px var(--cor02);

}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--cor01);
  border-radius: 50%;
  border: 1px solid var(--cor03);
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px var(--cor02);

}


/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}


.modal-content {
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 0px;
  right: -10px;
  font-size: 20px;
  cursor: pointer;
  font-size: 35px !important;
}

.album-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2px;
}

.album-item img {
  margin: 0 6px;
}

#song-list li {
  /*     color: #000; */
  width: 100%;
}

.modal-content li {
  display: flex;
  align-items: center;

  padding: 6px 4px;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: .15s;
  transition-timing-function: ease-out;
  border-radius: 5px;
}




.modal-content button {
  background-color: #3498db;
  /*     color: #fff; */
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #2980b9;
}

/*  === mudar a cor do scrooll */

.asinfo {
  max-height: 300px;
  overflow-y: auto;
  min-width: 300px;
}

.asinfo::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: var(--cor02);
  border-radius: 5px;
}

.asinfo::-webkit-scrollbar {
  width: 4px;
  background-color: var(--cor02);
  border-radius: 5px;
}

.asinfo::-webkit-scrollbar-thumb {
  background-color: var(--cor02);
  border: 1px solid #011;
  border-radius: 5px;
}



/*  === posição do mini player */

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}


/* Adicione as classes de tema ao seu CSS */
.colors-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.material-icons {
  cursor: pointer;
  margin-right: 10px;
  font-size: 24px;
}


.theme-options {
  display: flex;
  margin-top: 6px;
  position: absolute;
  margin-left: 10px;
  top: 0;
  left: 0px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 2px;
  align-items: center;
  z-index: 1;
  flex-direction: column;
}

.theme-options:hover .theme-option {
  display: block;
}

.theme-option {
  width: 18px;
  height: 18px;
  margin-top: 6px;
  cursor: pointer;
  border-radius: 50%;
  display: none;
}

.theme-options i {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.theme-option.light {
  background-color: #eee;
}

.theme-option.gray {
  background-color: #aaa;
}

.theme-option.bluedark {
  background-color: #001f3f;
  color: #444;
}

.theme-option.greendark {
  background-color: #034439;
  color: #999;
}

.theme-option.dark {
  background-color: #333;
  color: #777;
}


